<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <li><a href = "<%= shortURL %>" > <%= shortURL %> </a> : <%= lURL %></li>
      <input id="newURL" name = "newURL" type="text" placeHolder="http://" style= "width:300px padding:50px">
      <form action="/urls/<%= shortURL %>" method="POST">
        <button> Update </button>
      </form>
      <form action="/urls/<%= shortURL %>/delete" method="POST">
        <button> Delete </button>
      </form>
    </ul>
  </body>
</html>