<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header> <% include partials/_header %> </header>
    <ul>
      <% Object.keys(urlDB).forEach((shorturl) => { %>
          <li>
            <a id = "keyvalue" href = "<%= urlDB[shorturl] %>"> <%= shorturl %> </a>  : <%= urlDB[shorturl] %>
            <form action="/urls/<%= shorturl %>/delete" method="POST">
              <button> Delete </button>
            </form>
            <form action="/urls/<%= shorturl %>/edit" method="GET">
              <button> Edit </button>
            </form>
          </li>
      <% }) %>
  </ul>
  <a href = "/urls/new" %> style = "padding : 15px 15px"> Create New Short Link </a>
</body>
</html>